@charset "utf-8";

/* Common */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,
em,img,ins,kbd,q,samp,small,strong,sub,sup,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,
hgroup,menu,nav,section,summary,time,mark,audio,video {margin:0; padding:0; border:0; outline:0; font-size:100%; color:var(--gray90, #333); font-family: 'Pretendard' , 'Sans-serif'; font-weight:normal; letter-spacing:0; line-height:1;}
input,textarea,table,select,button,p{color:var(--gray90, #333); font-family: "Pretendard", "Sans-serif"; font-size:14px; font-weight:normal; line-height:1;}

/* */
body{word-break:break-all;}
img,fieldset{border:0}
img{vertical-align:middle;}
ul,ol,li{list-style:none}
/* li{line-height:100%} */
em,address{font-style:normal}
i,a,span,em,label,:before,:after{display:inline-block;}
a{display:inline-block; text-decoration:none; color:var(--registTxt);/*outline:none;*//* select-dummy:expression(this.hideFocus=true); */cursor:pointer}
a:hover,a:active,a:focus,:hover{text-decoration:none;}
a label{cursor:pointer;}

/* common */
*{box-sizing:border-box}
select{width:100%; height:36px; font-size:14px; color:var(--gray100); border:1px solid #EDEDED; padding:0 30px 0 12px; background:#fff url("../images/svg/arrow_sel_01.svg") no-repeat right 12px center; -webkit-appearance:none; -moz-appearance:none; appearance:none; cursor:pointer; border-radius:var(--radius-form); letter-spacing:-0.1px;}
select:active,select:focus{outline:0; border:1px solid var(--BK-90); background:var(--blue05) url("../images/svg/arrow_sel_on_01.svg") no-repeat right 12px center;}
select::-ms-expand{display:none;} /* remove default arrow on ie10 and ie11 */
select:focus::-ms-value {color:var(--BK-90); background:transparent;}
select:disabled{border-color:var(--registLine); color:#aaa; opacity:1; background:#eee url("../images/svg/arrow_sel_dis.svg") no-repeat right 12px center; pointer-events:none;}
select option{color:var(--gray100)}
caption,legend{position:absolute; width:1px; height:1px; padding:0; margin:-1px; overflow:hidden; clip:rect(0 0 0 0); clip-path:inset(50%); white-space:nowrap;}
input[type="checkbox"]:disabled,input[type="radio"]:disabled{pointer-events:none !important;}
input[type="text"],input[type="password"],input[type="number"],input[type="search"],input[type="time"]{color:var(--gray100); width:100%; height:36px; line-height:36px; padding:0 12px; border:1px solid var(--gray40); vertical-align:middle; outline:none; border-radius:var(--radius-sm); letter-spacing:-1;}
input[type="text"]::-ms-clear,
input[type="search"]::-ms-clear{display:none}
input[type="text"]:hover,
input[type="search"]:hover{border-color:var(--gray90);}
input[type="text"]:read-only,
input[type="search"]:read-only{font-size:14px; height:36px; line-height:34px; border-radius:0; padding:10px 12px; background:#fff; border-bottom:1px solid #EDEDED;; pointer-events:none;}
input[type="text"]:focus,input[type="password"]:focus,
input[type="search"]:focus{outline:none; border:1px solid var(--gray90);}
input[type="text"]:disabled,
input[type="search"]:disabled{background:var(--BK-90); border:1px solid #4c4c4c; color:var(--registTxt); height:36px; line-height:36px; padding:0 12px; vertical-align:middle; outline:none; border-radius:2px; letter-spacing:-1px;}
input[type="text"]::placeholder,
input[type="search"]::placeholder{color:var(--placeColor); font-weight:normal;}

input[type="checkbox"]{vertical-align:middle; opacity:0;}
input[type="checkbox"] + label{cursor:pointer;}
input[type="file"]{border:0}
textarea{display:block; overflow-y:auto; width:100%; min-height:68px; padding:8px 12px; text-align:left; font-size:12px; background:#fff; color:#fff; border:1px solid #EDEDED; color:var(--BK-90); resize:none; line-height:18px;}
textarea:focus{outline:none; border:1px solid #EDEDED}
textarea:disabled{border:1px solid #EDEDED; background:#F1F1F1; color:var(--BK-90);}
hr{display:none}
table{border-collapse:collapse; border-spacing:0; table-layout:fixed;}
button {font-size:15px; font-weight:normal; margin:0;padding:0;border:0;background:none;cursor:pointer;letter-spacing:-1px; background-color:transparent; /*overflow:visible !important; ie6,7 padding bug hack*/}
/* button span{margin:-2px 0 0 -3px !important;} */

/* 숫자 폰트 */
input[type="number"]{font-family:'Roboto 500', sans-serif;  font-feature-settings:"tnum"; font-variant-numeric:tabular-nums; line-height:20px;}

/* 정렬 */
.al{text-align:left}
.ar{text-align:right}
.ac{text-align:center}

.hidden{position:absolute !important; color:transparent !important; clip:rect(0,0,0,0); overflow:hidden !important}

.ls_base{letter-spacing:0}
.ell{overflow:hidden; text-overflow:ellipsis; white-space:nowrap}
.show{display:block}
.hide{display:none}

/* all */
input:-webkit-input-placeholder {letter-spacing:-.5px; font-size:12px; color:#c7c7c7}
input:-moz-placeholder {letter-spacing:-.5px; font-size:12px; color:#c7c7c7} /* firefox 19+ */
input:-ms-input-placeholder {letter-spacing:-.5px; font-size:12px; color:#c7c7c7} /* ie */
input:-moz-placeholder {letter-spacing:-.5px; font-size:12px; color:#c7c7c7}
input:-ms-input-placeholder{color:#c7c7c7;}

textarea::-webkit-input-placeholder {color:#c7c7c7 !important}
textarea:-moz-placeholder {color:#c7c7c7 !important} /* Firefox 18- */
textarea::-moz-placeholder {color:#c7c7c7 !important} /* Firefox 19+ */
textarea:-ms-input-placeholder{color:#c7c7c7 !important}

textarea{border-radius:4px;}
textarea::-webkit-scrollbar {width:8px;}
textarea::-webkit-scrollbar-track{ background:transparent;}
textarea::-webkit-scrollbar-thumb{ background-color:#5c5c5c; border-radius:4px; border:2px solid transparent; background-clip:padding-box;}

/* Pretendard */
@font-face {
	font-family: 'Pretendard';
	font-weight: 900;
	font-display: swap;
	src: local('Pretendard Black'), url(../font/woff2/Pretendard-Black.woff2) format('woff2'), url(../font/woff/Pretendard-Black.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	font-display: swap;
	src: local('Pretendard ExtraBold'), url(../font/woff2/Pretendard-ExtraBold.woff2) format('woff2'), url(../font/woff/Pretendard-ExtraBold.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url(../font/woff2/Pretendard-Bold.woff2) format('woff2'), url(../font/woff/Pretendard-Bold.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-display: swap;
	src: local('Pretendard SemiBold'), url(../font/woff2/Pretendard-SemiBold.woff2) format('woff2'), url(../font/woff/Pretendard-SemiBold.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: swap;
	src: local('Pretendard Medium'), url(../font/woff2/Pretendard-Medium.woff2) format('woff2'), url(../font/woff/Pretendard-Medium.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url(../font/woff2/Pretendard-Regular.woff2) format('woff2'), url(../font/woff/Pretendard-Regular.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 300;
	font-display: swap;
	src: local('Pretendard Light'), url(../font/woff2/Pretendard-Light.woff2) format('woff2'), url(../font/woff/Pretendard-Light.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 200;
	font-display: swap;
	src: local('Pretendard ExtraLight'), url(../font/woff2/Pretendard-ExtraLight.woff2) format('woff2'), url(../font/woff/Pretendard-ExtraLight.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 100;
	font-display: swap;
	src: local('Pretendard Thin'), url(../font/woff2/Pretendard-Thin.woff2) format('woff2'), url(../font/woff/Pretendard-Thin.woff) format('woff');
}




ul::-webkit-scrollbar-thumb,div::-webkit-scrollbar-thumb {border-radius:10px; background:#a5a5a5; border:1px solid #a5a5a5;}
/* ul::-webkit-scrollbar,div::-webkit-scrollbar{background:transparent; width:6px;} */
div::-webkit-scrollbar{background:transparent; width:4px; height:4px;}