<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/gb_intelligent.css">
	<link rel="stylesheet" href="css/select2.min.css">
	<script src="js/lib/jquery-3.7.1.js"></script>
	<script src="js/lib/select2.min.js"></script>
	<script src="js/ui.js"></script>
	<title>경북 지능공간정보 플랫폼</title>
</head>

<body>
	<div class="all-wrap">
		<!-- header -->
		<header>
			<div class="top-menu-wrap">
				<div class="logo-area">
					<a href="#" class="home"></a>
					<a href="#" class="logo"></a> <span>지능공간정보 플랫폼</span>
				</div>

				<div class="top-menu">

					<a href="#" class="intelli">지능공간정보</a>
					<a href="#" class="property">도유재산</a>
					<a href="#" class="land">토지정보</a>
					<a href="communication_notice.html" class="commu active">소통공간</a>
					<a href="#" class="system">시스템관리</a>

					<div class="popover-menu-wrap commu active">
						<div class="tab-menu">
							<ul>
								<li><a href="communication_notice.html" class="active">공지사항</a></li>
								<li><a href="communication.html">자주하는 질문</a></li>
								<li><a href="communication_qna.html">질의응답</a></li>
								<li><a href="communication_guide.html">사용자 가이드</a></li>
							</ul>
						</div>
					</div>


				</div>

				<div class="login-info">
					<p>경상북도청</p>
					<p class="name">홍길동 님</p>
				</div>
			</div>
		</header>
		<!-- header -->

		<!-- content -->
		<div class="content-wrap">
			<div class="content">
				{{> @partial-block }}
			</div>
		</div>
		<!-- content -->
	</div>

	<script type="module" src="/src/js/community.js"></script>
</body>

</html>
