{{! 좌측 고정 메뉴 패널: 사용자 데이터 관리 / 드론영상 / 관심지역 }}
<aside class="map-menu-panel is-open" aria-label="서비스 메뉴">
	<header class="map-menu-panel__header">
		<h2>지능공간정보 플랫폼</h2>
	</header>
	<nav class="map-menu-panel__inner">
		<section class="map-menu-panel__section">
			<h2 class="map-menu-panel__title"><i class="map-menu-icon map-menu-icon-user"></i>사용자 데이터 관리</h2>
			<ul class="map-menu-panel__list">
				<li><a href="#" class="map-menu-panel__link">사용자 데이터 공유</a></li>
			</ul>
		</section>
		<section class="map-menu-panel__section">
			<h2 class="map-menu-panel__title"><i class="map-menu-icon map-menu-icon-drone"></i>드론영상</h2>
			<ul class="map-menu-panel__list">
				<li><a href="#" class="map-menu-panel__link">드론 영상 공유</a></li>
			</ul>
		</section>
		<section class="map-menu-panel__section">
			<h2 class="map-menu-panel__title"><i class="map-menu-icon map-menu-icon-interest"></i>관심지역</h2>
			<ul class="map-menu-panel__list">
				<li><a href="#" class="map-menu-panel__link">관심 지역 공유</a></li>
			</ul>
		</section>
	</nav>
</aside>
