<aside class="map-menu-panel is-open" aria-label="공간분석 메뉴">
	<header class="map-menu-panel__header">
		<h2>지능공간정보 플랫폼</h2>
	</header>
	<nav class="map-menu-panel__inner">
		<section class="map-menu-panel__section">
			<h2 class="map-menu-panel__title"><i class="map-menu-icon map-menu-icon-2d"></i>2D 분석</h2>
			<ul class="map-menu-panel__list">
				<li><a href="#" class="map-menu-panel__link">공간 분석</a></li>
				<li><a href="#" class="map-menu-panel__link">버퍼 분석</a></li>
				<li><a href="#" class="map-menu-panel__link">밀도 분석</a></li>
				<li><a href="#" class="map-menu-panel__link">레이어 중첩 분석</a></li>
				<li><a href="#" class="map-menu-panel__link">위치 찾기 분석</a></li>
				<li><a href="#" class="map-menu-panel__link">인접 영역 분석</a></li>
				<li><a href="#" class="map-menu-panel__link">포인터 집계</a></li>
				<li><a href="#" class="map-menu-panel__link">포인터 군집</a></li>
			</ul>
		</section>
		<section class="map-menu-panel__section">
			<h2 class="map-menu-panel__title"><i class="map-menu-icon map-menu-icon-3d"></i>3D 경관 분석</h2>
			<ul class="map-menu-panel__list">
				<li><a href="#" class="map-menu-panel__link">일조권 분석</a></li>
				<li><a href="#" class="map-menu-panel__link">가시권 분석</a></li>
				<li><a href="#" class="map-menu-panel__link">조망권 분석</a></li>
				<li><a href="#" class="map-menu-panel__link">스카이라인 분석</a></li>
			</ul>
		</section>
		<section class="map-menu-panel__section">
			<h2 class="map-menu-panel__title"><i class="map-menu-icon map-menu-icon-terrain"></i>3D 지형 분석</h2>
			<ul class="map-menu-panel__list">
				<li><a href="#" class="map-menu-panel__link">경사도 분석</a></li>
				<li><a href="#" class="map-menu-panel__link">종횡단면 분석</a></li>
			</ul>
		</section>
	</nav>
</aside>
