// 3차원 가시화 레이어 선택

.info-icon{
	width: 16px;
	height: 16px;
	background: url('/images/map/ico_info_01.png') no-repeat center center;
	background-size: 100% 100%;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	transition: opacity 0.3s ease;
	transform: translateY(1px);
	&:hover{
		opacity: 0.8;
	}
}

